@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Honk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(../img/yoda.jpg);
    background-size: 94%;
    width: 1200px;
    font-family: 'Honk';
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;

}

main{
    padding: 20px 60px 30px 60px;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Electrolize';
    color: black;

}


.container{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

h1 {
    font-family: 'Honk';
    font-size: 2rem;
    margin: 40px 0px 20px 0px;
}


#newTask {
    justify-content: center;
    margin-bottom: 30px;
}


#newTask input{
    font-family: 'Electrolize';
    width:70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
}

#newTask button {
    padding: 10px 15px;
    border: 0.5px solid black;
    background: linear-gradient(red, yellow);
    color: rgb(3, 2, 2);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Electrolize';
    font-weight: bold;

}

#tasks {
 
    padding: 0px 20px;
    border-radius: 10px;
    width: 100%;
    position: relative;
  }
  .task {
    background: linear-gradient(rgb(243, 240, 240), rgb(255, 255, 94));
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #000000;
    cursor: pointer;
  }
  .task span {
    font-family: 'Electrolize';
    font-size: 15px;
    font-weight: 400;
  }
  .task button {
    background-color: #e41414;
    font-size: 1.1em;
    color: #ffffff;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .task:last-child {
    margin-bottom: 30px;
  }
  
  .completed {
    text-decoration: line-through;
  }